.questGroup {
    margin-bottom: 24px;
}

.groupHeader {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
    user-select: none;
    /* Чтобы текст не выделялся при клике */
}

.groupTitle {
    font-size: 14px;
    font-weight: bold;
    color: #b9c3c8;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}

.dividerLine {
    width: 100%;
    height: 1px;
    border-top: 1px dashed #b9c3c8;
    margin: 0 16px;
}

.toggleButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #b9c3c8;
    display: flex;
    align-items: center;
}

.cardGrid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 20px; */
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;

}

@media only screen and (min-width: 1280px) {
    .cardGrid {
        gap: 22px;
    }
}

.aligningContainer {
    margin: 0 auto;
}