.modalDeleteContainer {
    border-radius: 10px;
    width: 224px;
    height: 208px;
    background: rgba(21, 57, 90, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalPopup {
    border-radius: 10px;
    width: 163px;
    height: 77px;
    box-shadow: 3px 4px 4px 0 rgba(21, 57, 90, 0.03), -3px -4px 4px 0 rgba(21, 57, 90, 0.03);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleBlock {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #282828;
    margin-bottom: 14px;
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonCancel {
    margin-right: 21px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #24d40c;
}

.buttonDelete {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #db0938;
}