.cardContainer {
    border-radius: 10px;
    width: 224px;
    height: 208px;
    box-shadow: 3px 4px 4px 0 rgba(21, 57, 90, 0.03), -3px -4px 4px 0 rgba(21, 57, 90, 0.03);
    background: #fff;
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardHeader {
    width: 184px;
    height: 14px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 20px;
}

.cardHeaderSelector {
    display: flex;
    align-items: center;
}



.roundLevelSelector {
    border-radius: 100%;
    /* fill: #24d40c; */
    background-color: #24d40c;
    width: 8px;
    height: 8px;
    margin-right: 4px;
}

.levelTitle {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #b9c3c8;
    border: none;
    outline: none;
}

.levelTitle option:hover,
.levelTitle option:focus {
    background: #87c1ff;
    color: white;
}

select {
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}

select:hover {
    background: #87c1ff;
    color: #282828;

}



.cardTitle {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #b9c3c8;
    margin-left: 20px;
}

.inputContainerDifficulty {
    text-align: center;
    display: flex;
    align-items: center;
}

.inputContainer {
    margin-left: 20px;
}

.cardInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00d7ff;
    width: 163px;
    margin-left: 20px;
}

.cardInput:focus {
    outline: none;
    caret-color: #00d7ff;
}

.dateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #282828;
    border: 2px solid #87c1ff;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 5px;
}

input[type="date"] {
    height: 100%;

    border: none;
    border-radius: 4px;
    /* background-color: #f8f8f8; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="date"]:hover,
input[type="date"]:focus {
    background-color: #87c1ff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    /* filter: invert(40%) sepia(50%) saturate(300%) hue-rotate(200deg); */
    transition: filter 0.2s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    filter: invert(25%) sepia(90%) saturate(500%) hue-rotate(180deg);
    background-color: #00d7ff;
    border-radius: 4px;
}

/* input[type="date"]:focus::-webkit-calendar-picker-indicator {
    filter: invert(20%) sepia(100%) saturate(600%) hue-rotate(120deg);
} */

input[type="time"] {
    border: none;
    border-radius: 4px;
    /* background-color: #f8f8f8; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="time"]:hover,
input[type="time"]:focus {
    background-color: #87c1ff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    /* filter: invert(50%) sepia(40%) saturate(300%) hue-rotate(180deg); */
    transition: filter 0.2s ease;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
    filter: invert(25%) sepia(80%) saturate(500%) hue-rotate(90deg);
    background-color: #00d7ff;
    border-radius: 4px;
}

.dayTitle {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #282828;
    margin-right: 8px;

}


.cardBottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorySelector {
    border-radius: 0 15px 15px 0;
    width: 88px;
    height: 25px;
    background: #b9c3c8;
    display: flex;
    font-size: 11px;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
}

.buttonList {
    width: 70px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-between;
}

.iconSave {
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.iconSave:hover {
    /* border: 1px solid #00d7ff; */

    background-color: #b9c3c8;
    padding: 0;
    box-sizing: border-box;
}

.buttonList button {
    background: white;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

.separator {
    width: 1px;
    height: 16px;
    background-color: #b9c3c8;
}

.clearButton {
    display: flex;
    justify-content: center;
}


.svgContainerClose {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgContainerSave {
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.startButton {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: right;
    color: #00d7ff;
}