/* mobile styles */
.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* desktop styles */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 16px;
    }
}

/* Контейнер для кнопок создания */
.createButtonsContainer {
    position: fixed;
    /* Позиционирование относительно dashboardContainer */
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.createButton {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #ff6f00;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createButton:hover {
    background-color: #e06000;
}