.cardContainer {
    position: relative;
    border-radius: 10px;
    /* border: 2px solid red; */
    width: 224px;
    height: 208px;
    box-shadow: 3px 4px 4px 0 rgba(21, 57, 90, 0.03),
        -3px -4px 4px 0 rgba(21, 57, 90, 0.03);
    background: #fff;
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform ease 0.5s, box-shadow 0.5s ease;
}

.cardContainer:hover,
.cardContainer:focus {
    /* box-shadow: 3px 4px 4px 4px rgba(0, 215, 255, 0.3),
        -3px -4px 4px 4px rgba(0, 215, 255, 0.3); */
    /* border: 1px solid #00d7ff; */
    border: 1px solid #00d7ff;
    border-radius: 10px;
    box-shadow: 0 0 5px #00d7ff, 0 0 10px #00ff9151;
    transform: scale(1.02);
    cursor: pointer;
}

.cardHeader {
    width: 184px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.cardHeaderSelector {
    display: flex;
    align-items: center;
}

/* .cardLevelSelector {} */

.roundLevelSelector {
    border-radius: 100%;
    /* fill: #24d40c; */
    background-color: #24d40c;
    width: 8px;
    height: 8px;
    margin-right: 4px;
}

.levelTitle {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #b9c3c8;
}

.starIcon {
    /* box-shadow: 3px 4px 4px 4px rgba(0, 215, 255, 0.3); */
    transition: filter 0.3s ease;

}

.starIcon:hover {
    /* filter: drop-shadow(8px 8px 0 rgba(135, 193, 255, 0.7)); */
    filter: drop-shadow(0 0 4px #00d7ff) drop-shadow(0 0 8px #00ffe7) drop-shadow(0 0 12px #00d7ff);

}

.cardTitle {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #282828;
    margin-left: 20px;
}

.inputContainerDifficulty {
    text-align: center;
    display: flex;
    align-items: center;
}

.inputContainer {
    margin-left: 20px;
}

.cardInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00d7ff;
    width: 163px;
}

.cardInput:focus {
    outline: none;
    caret-color: #00d7ff;
}

.dateContainer {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #b9c3c8;
}

.cardBottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorySelector {
    border-radius: 0 15px 15px 0;
    width: 88px;
    height: 25px;
    background: #b9c3c8;
    display: flex;
    font-size: 11px;
    letter-spacing: 0.02em;
    justify-content: center;
    align-items: center;
}

.buttonList {
    width: 70px;
    height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.clearButton {
    display: flex;
    justify-content: center;
}

.separatorContainer {
    width: 1px;
    height: 16px;
    background-color: #fff;
}

.startButton {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: right;
    color: #00d7ff;
}